{
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": true,
  "tabWidth": 4,
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "bracketSameLine": false,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "useTabs": false
}
