upstream frontend {
    server frontend:3000;
}

upstream backend {
    server backend:3888;
}

server {
    listen 443 ssl http2 default_server;
    server_name ${DOMAIN} www.${DOMAIN};

    ssl_certificate     /etc/letsencrypt/live/${DOMAIN}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${DOMAIN}/privkey.pem;
    ssl_protocols       TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;
    ssl_ciphers         HIGH:!aNULL:!MD5;

    # 基本认证
    auth_basic           "Restricted Access";
    auth_basic_user_file /etc/nginx/.htpasswd;

    # 全局限流和连接数限制
    limit_req   zone=req_limit burst=5 nodelay;
    limit_conn  conn_limit 10;

    # Todo not safe
    add_header Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline';" always;

    location / {
        proxy_pass          http://frontend/;
        proxy_http_version  1.1;
        proxy_set_header    Host $host;
        proxy_set_header    X-Real-IP $remote_addr;
        proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header    Upgrade $http_upgrade;
        proxy_set_header    Connection "upgrade";
    }

    location /api/ {
        # /api 额外更严格限流
        limit_req   zone=req_limit burst=3 nodelay;
        limit_conn  conn_limit 5;

        proxy_pass          http://backend/;
        proxy_http_version  1.1;
        proxy_set_header    Host $host;
        proxy_set_header    X-Real-IP $remote_addr;
        proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header    Upgrade $http_upgrade;
        proxy_set_header    Connection "upgrade";
    }

    # 加这个 block 处理 _next 路由（Next.js 静态资源）
    location /_next/ {
        proxy_pass http://frontend;  # 注意没有 /
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    # 加这个处理静态资源（如 public/ 中的图片或字体）
    location /static/ {
        proxy_pass http://frontend;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}